/* h1 {
    color: blue;
    text-align: center;
} */
/* h3 {
    text-align: center;
} */
.col {
    text-align: center;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: gray 2px 4px 2px;
    margin: 5px;
}
a {
    display: flex;
    justify-content: flex-end;
    color: black;
}
.content {
    padding: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 15px -5px 20px 5px;
}
.sub_content {
    margin: 20px;
}
.message{
    font-size: medium;
}
.comment {
    font-style: italic;
    font-size: smaller;
}